@using  Data.ViewModel;
@model Data.Models.Game
@{
    ViewData["Title"] = "Games in progress";
}

@if ((ViewBag.GamesWaitTurn as List<PictureGameVM>).Count() > 0)
{
    <partial name="_ThumbnailPartial" model="ViewBag.GamesWaitTurn" />
}
else
{
    <p><b>Vous n'avez pas de parties où c'est au tour d'un adversaire de jouer</b></p>
}

<div>
    <a asp-controller="Home" asp-action="Index">Retour</a>
</div>