@using  Data.ViewModel;
@model Data.Models.Game
@{
    ViewData["Title"] = "Games finished";
}

@if ((ViewBag.GamesWon as List<PictureGameVM>).Count() == 0 && (ViewBag.GamesLost as List<PictureGameVM>).Count() == 0 && (ViewBag.SingleGamesFinished as List<PictureGameVM>).Count() == 0)
{
    <p><b>Vous n'avez pas encore de parties terminées</b></p>
}

@if ((ViewBag.GamesWon as List<PictureGameVM>).Count() > 0)
{
    <h3>Parties gagnées</h3>
    <partial name="_ThumbnailPartial" model="ViewBag.GamesWon" />
}

@if ((ViewBag.GamesLost as List<PictureGameVM>).Count() > 0)
{
    <h3>Parties perdues</h3>
    <partial name="_ThumbnailPartial" model="ViewBag.GamesLost" />
}

@if ((ViewBag.SingleGamesFinished as List<PictureGameVM>).Count() > 0)
{
    <h3>Parties solo terminées</h3>
    <partial name="_ThumbnailPartial" model="ViewBag.SingleGamesFinished" />
}

<div>
    <a asp-controller="Home" asp-action="Index">Retour</a>
</div>