@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <a asp-controller="Game" asp-action="StartNew">Start new game</a>
</div>
<div>
    <a asp-controller="Game" asp-action="ContinueRandomGame" asp-route-id="1">Continue game</a>
</div>
<div>
    <a asp-controller="Game" asp-action="Show" asp-route-id="1">Grid</a>
</div>

