@model Data.Models.Game

@{
    ViewData["Title"] = "Home Page";
    bool toPlay = false;
}

<div class="text-center">
    <h2 class="display-5">Bienvenue @ViewBag.PlayerPseudo</h2>
</div>


@if ((ViewBag.GamesToPlay as SelectList).Count() > 1 || (ViewBag.SingleGames as SelectList).Count() > 1)
{
    <p><b>Vous avez des parties où c'est à vous de jouer</b></p>
}

@if ((ViewBag.GamesToPlay as SelectList).Count() > 1)
{
    <div class="row">
        <div class="col-md-8">
            <form method="get" name="formGamesMulti" asp-action="Show" asp-controller="Game">
                <div class="form-group">
                    <select asp-for="Id" class="form-control" asp-items="ViewBag.GamesToPlay" onchange="window.document.formGamesMulti.submit();"></select>
                </div>
            </form>
        </div>
    </div>
}

@if ((ViewBag.SingleGames as SelectList).Count() > 1)
{
    <div class="row">
        <div class="col-md-8">
            <form method="get" name="formGamesAlone" asp-action="Show" asp-controller="Game">
                <div class="form-group">
                    <select asp-for="Id" class="form-control" asp-items="ViewBag.SingleGames" onchange="window.document.formGamesAlone.submit();"></select>
                </div>
            </form>
        </div>
    </div>
}

<div>
    <a asp-controller="Game" asp-action="New"><input type="button" class="btn btn-primary" value="Créer nouvelle partie" /></a>
</div>
<br />

@if ((ViewBag.GamesWon as SelectList).Count() > 1)
{
    <div class="row">
        <div class="col-md-8">
            <form method="get" name="formGamesWin" asp-action="Show" asp-controller="Game">
                <div class="form-group">
                    <select asp-for="Id" class="form-control" asp-items="ViewBag.GamesWon" onchange="window.document.formGamesWin.submit();"></select>
                </div>
            </form>
        </div>
    </div>
}

@if ((ViewBag.GamesLost as SelectList).Count() > 1)
{
    <div class="row">
        <div class="col-md-8">
            <form method="get" name="formGamesLost" asp-action="Show" asp-controller="Game">
                <div class="form-group">
                    <select asp-for="Id" class="form-control" asp-items="ViewBag.GamesLost" onchange="window.document.formGamesLost.submit();"></select>
                </div>
            </form>
        </div>
    </div>
}

@if ((ViewBag.SingleGamesFinished as SelectList).Count() > 1)
{
    <div class="row">
        <div class="col-md-8">
            <form method="get" name="formGamesAloneFinished" asp-action="Show" asp-controller="Game">
                <div class="form-group">
                    <select asp-for="Id" class="form-control" asp-items="ViewBag.SingleGamesFinished" onchange="window.document.formGamesAloneFinished.submit();"></select>
                </div>
            </form>
        </div>
    </div>
}

@if ((ViewBag.GamesWaitTurn as SelectList).Count() > 1)
{
    <div class="row">
        <div class="col-md-8">
            <form method="get" name="formGamesWaitTurn" asp-action="Show" asp-controller="Game">
                <div class="form-group">
                    <select asp-for="Id" class="form-control" asp-items="ViewBag.GamesWaitTurn" onchange="window.document.formGamesWaitTurn.submit();"></select>
                </div>
            </form>
        </div>
    </div>
}