@using  Data.ViewModel;
@model Data.Models.Game
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Bienvenue @ViewBag.PlayerPseudo</h2>
</div>

@if ((ViewBag.GamesToPlay as List<PictureGameVM>).Count() > 0)
{
    <h3>Jeux multijoueurs</h3>
    <partial name="_ThumbnailPartial" model="ViewBag.GamesToPlay" />
}

@if ((ViewBag.SingleGames as List<PictureGameVM>).Count() > 0)
{
    <h3>Jeux solo</h3>
    <partial name="_ThumbnailPartial" model="ViewBag.SingleGames" />
}

<br />
<div>
    <a asp-controller="Game" asp-action="New"><input type="button" class="btn btn-primary" value="Créer nouvelle partie" /></a>
</div>
<br />


<div>
    Voir vos <a asp-controller="Home" asp-action="GamesFinished">parties terminées</a>
</div>
<br />
<div>
    Voir vos <a asp-controller="Home" asp-action="GamesInProgress">parties en attente (tour d'un adversaire)</a>
</div>
