@model Data.Models.Game

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.PlayerPseudo</h1>
</div>
<div>
    <a asp-controller="Game" asp-action="StartNew">Start new game</a>
</div>
<br />
<div class="row">
    <div class="col-md-8">
        <form name="continueMultiGame" asp-action="Show" asp-controller="Game">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Continue multi-game" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <select asp-for="Id" class="form-control" asp-items="ViewBag.GamesToPlay"></select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <form asp-action="Show" asp-controller="Game">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Continue single-game" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <select asp-for="Id" class="form-control" asp-items="ViewBag.SingleGames"></select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <form asp-action="Show" asp-controller="Game">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="View other game" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <select asp-for="Id" class="form-control" asp-items="ViewBag.OtherGames"></select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

        </form>
    </div>
</div>