
@{
    ViewData["Title"] = "Les règles du jeu";
}

<h1>@ViewData["Title"]</h1>

<p>Les règles officielles dans leurs versions classiques sont appliquées ici.</p>
<p>Retrouvez-les dans le pdf suivant : (également accessible depuis la page <a href="https://fr.asmodee.com/fr/games/chromino/" target="_blank">Asmodee</a>)</p>
<embed src="~/doc/chrominoRules.pdf#view=FitH" type="application/pdf" width="100%" height="600px" />
<div>
    <a asp-controller="Home" asp-action="Index">Retour</a>
</div>