@using  Data.ViewModel;
@model List<PictureGameVM>;
@{
    ViewData["Title"] = "Single Games";
    int gamesNumber = Model.Count;
}

@switch (gamesNumber)
{
    case 0:
        <p><b>Vous n'avez aucune partie solo en cours</b></p>
        break;
    case 1:
        <h3>Vous avez 1 partie solo en cours</h3>
        <partial name="_ThumbnailPartial" model="Model" />
        break;
    default:
        <h3>Vous avez @gamesNumber parties solo en cours</h3>
        <partial name="_ThumbnailPartial" model="Model" />
        break;
}

<br />
<p>
    <a asp-controller="Game" asp-action="NewSingle"><input type="button" class="btn btn-primary" value="Nouveau jeu solo" /></a>
</p>
<p>
    Voir vos <a asp-controller="Home" asp-action="GamesWon">parties gagnées</a>
</p>
<p>
    Voir vos <a asp-controller="Home" asp-action="GamesLost">parties perdues</a>
</p>
<p>
    Voir vos <a asp-controller="Home" asp-action="SingleGamesFinished">parties solo terminées</a>
</p>
<p>
    Voir vos <a asp-controller="Home" asp-action="GamesInProgress">parties en attente (tour d'un adversaire)</a>
</p>
<a asp-controller="Home" asp-action="Index">Retour</a>
</p>