
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    margin: 2px;
}

.btn-toolbar {
    flex-shrink: 1;
    height: 50px;
    width: 50px;
    margin: 4px;
    padding: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.btn-play {
    background-image: url('/image/button/Play.svg');
}

.btn-skip {
    background-image: url('/image/button/Skip.svg');
}

.btn-draw {
    background-image: url('/image/button/Draw.svg');
}

.btn-infogame {
    background-image: url('/image/button/Info.svg');
}

.btn-home {
    background-image: url('/image/button/Home.svg');
}

.btn-chat {
    background-image: url('/image/button/Chat.svg');
}

.btn-memo {
    background-image: url('/image/button/Memo.svg');
}

.btn-nextgame {
    background-image: url('/image/button/Next.svg');
}

#buttonInfoForPlaying {
    display: inline;
    width: 40px;
    margin: 0px;
    padding: 0px;
}

.notification {
    background-color: red;
    color: white;
    position: relative;
    top: -10px;
    left: 20px;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    line-height: 18px;
    text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.error {
    color: red;
}

.infoMineure {
    font-size: small;
}

.winner {
    text-align: center !important;
}

.popup_content {
    margin: 10px;
    padding: 0 10px;
    width: auto;
    border: 2px solid #444;
    background: white;
    font-size: large;
}

    .popup_content img {
        width: 80px;
        margin: auto;
        padding: 2%;
        display: grid;
        align-content: center;
    }

    .popup_content p {
        text-align: left;
    }

    .popup_content h2, .popup_content h3 {
        text-align: center;
    }

.popup-memochat {
    min-width: 300px;
    max-width: 95%;
    min-height: 400px;
    max-height: 95%;
}

#about {
    text-align: justify;
}

.rules {
    width: 100%;
    height: 100%;
}

figure {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

    figure img {
        width: 85%;
        max-width: 800px;
        min-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

figcaption {
    font: italic smaller sans-serif;
    padding: 3px;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
}

    .thumbnails a {
        text-decoration: none;
        color: black;
    }

@media (max-width: 700px) {
    .thumbnails {
        justify-content: center;
    }

    .thumbnail {
        width: 355px;
        max-width: 77%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 6px;
        margin-top: 6px;
    }
}

@media (min-width: 700px) {
    .thumbnail {
        width: 355px;
        height: 400px;
        margin: 6px;
    }
}

.thumbnail {
    display: flex;
    flex-flow: column;
    border-style: solid;
    border-color: #3AC2EE;
    height: 400px;
}

    .thumbnail:hover, .thumbnail .header:hover, .thumbnail .description:hover {
        background-color: azure;
        border-color: darkblue;
    }

    .thumbnail img {
        max-height: 60%;
        object-fit: contain;
    }

    .thumbnail .header {
        max-height: 13%;
    }

        .thumbnail .header p {
            margin: 0px;
            text-align: center;
        }

    .thumbnail .description {
        max-height: 27%;
        overflow: auto;
    }

        .thumbnail .description p {
            margin: 0px;
            padding-left: 10px;
        }

#gameArea {
    height: 85vm;
    width: 85vm; /* IE9 fallback */
    width: 85vmin;
    height: 85vmin;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
}

.gameLineArea {
    display: none;
    justify-content: center;
    flex-shrink: 0;
}

.Free {
    background-color: white;
}

.Blue {
    background-color: #3AC2EE;
}

.Green {
    background-color: #4CAE44;
}

.Purple {
    background-color: #571B6D;
}

.Red {
    background-color: #FA2C2E;
}

.Yellow {
    background-color: #FFEB47;
}

.Cameleon {
    background-image: url('/image/Cameleon.svg');
    background-size: contain;
}

.OpenRight {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-right-color: slategray;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.OpenBottom {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: slategray;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.OpenLeft {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-left-color: slategray;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.OpenTop {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: slategray;
    flex-shrink: 0;
}

.OpenBottomTop {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: slategray;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: slategray;
    flex-shrink: 0;
}

.OpenRightLeft {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-right-color: slategray;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-left-color: slategray;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}


.CloseNone {
    border-color: black;
    flex-shrink: 0;
}

.CloseRight {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    flex-shrink: 0;
}

.CloseBottom {
    border-color: black;
    border-bottom: 1px;
    border-bottom-style: solid;
    flex-shrink: 0;
}

.CloseLeft {
    border-color: black;
    border-left: 1px;
    border-left-style: solid;
    flex-shrink: 0;
}

.CloseTop {
    border-color: black;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.CloseRightTop {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.CloseBottomTop {
    border-color: black;
    border-top: 1px;
    border-top-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    flex-shrink: 0;
}

.CloseRightBottomTop {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.CloseLeftTop {
    border-color: black;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.CloseRightLeft {
    border-color: black;
    border-left: 1px;
    border-left-style: solid;
    border-right: 1px;
    border-right-style: solid;
    flex-shrink: 0;
}

.CloseBottomLeftTop {
    border-color: black;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.CloseAll {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.CloseRightLeftTop {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.CloseRightBottom {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    flex-shrink: 0;
}

.CloseBottomLeft {
    border-color: black;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    flex-shrink: 0;
}

.CloseRightBottomLeft {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    flex-shrink: 0;
}

.CloseRightLeft {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-left: 1px;
    border-left-style: solid;
    flex-shrink: 0;
}

.opponentLastChromino {
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

.handPlayerChromino {
    cursor: grab;
    position: fixed;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

#previousNextButton {
    position: relative;
    top: -3px;
    display: flex;
    flex-direction: row;
}

#previousButton, #nextButton {
    cursor: pointer;
    width: 22px;
    height: 22px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 8px;
}

#previousButton {
    background-image: url(/image/LeftArrow.svg);
}

#nextButton {
    background-image: url(/image/RightArrow.svg);
}

#PlayerHistory {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-75px);
    display: flex;
    flex-direction: row;
}

#PlayerHistoryPseudo {
    font-size: x-large;
}

#toolbar {
    position: fixed;
    display: flex;
}

@media screen and (orientation: portrait) {
    #toolbar {
        flex-direction: row;
        top: 0px;
        width: 100%;
    }
}

@media screen and (orientation: landscape) {
    #toolbar {
        flex-direction: column;
        left: 0px;
        width: 100px;
        height: 100%;
    }
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
