
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    margin: 2px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}



#gameArea {
    height: 85vm;
    width: 85vm; /* IE9 fallback */
    width: 85vmin;
    height: 85vmin;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
}

.gameLineArea {
    display: none;
    justify-content: center;
    flex-shrink: 0;
}

.Free {
    background-color: white;
}

.Blue {
    background-color: #3AC2EE;
}

.Green {
    background-color: #4CAE44;
}

.Purple {
    background-color: #571B6D;
}

.Red {
    background-color: #FA2C2E;
}

.Yellow {
    background-color: #FFEB47;
}

.Cameleon {
    background-image: url('/image/cameleon.png');
    background-size: contain;
}

.OpenRight {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-right-color: slategray;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.OpenBottom {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: slategray;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.OpenLeft {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-left-color: slategray;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.OpenTop {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: slategray;
    flex-shrink: 0;
}

.OpenTopBotom {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: slategray;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: slategray;
    flex-shrink: 0;
}

.OpenLeftRight {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-right-color: slategray;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-left-color: slategray;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.CloseNone {
    border-color: black;
    flex-shrink: 0;
}

.CloseTop {
    border-color: black;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.CloseRightTop {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.CloseTopBotom {
    border-color: black;
    border-top: 1px;
    border-top-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    flex-shrink: 0;
}

.CloseRightBottomTop {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.CloseLeftTop {
    border-color: black;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.CloseLeftRight {
    border-color: black;
    border-left: 1px;
    border-left-style: solid;
    border-right: 1px;
    border-right-style: solid;
    flex-shrink: 0;
}

.CloseBottomLeftTop {
    border-color: black;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.CloseAll {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.CloseRightLeftTop {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.CloseRight {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    flex-shrink: 0;
}

.CloseBottom {
    border-color: black;
    border-bottom: 1px;
    border-bottom-style: solid;
    flex-shrink: 0;
}

.CloseRightBottom {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    flex-shrink: 0;
}

.CloseLeft {
    border-color: black;
    border-left: 1px;
    border-left-style: solid;
    flex-shrink: 0;
}

.CloseBottomLeft {
    border-color: black;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    flex-shrink: 0;
}

.CloseRightBottomLeft {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    flex-shrink: 0;
}

.CloseRightLeft {
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
    border-left: 1px;
    border-left-style: solid;
    flex-shrink: 0;
}


@media screen and (orientation: portrait) {
    #toolbar {
        position: fixed;
        top: 0px;
        height: 100px;
        width: 100%;
    }

    #handPlayer {
        position: fixed;
        display: flex;
        flex-direction: row;
        bottom: 0px;
        height: 100px;
        width: 100%;
    }

    .handPlayerChromino {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
    }

    .BottomLeftTop, .RightLeftTop, .LeftTop, .BottomLeft, .RightTop, .All, .Right, .Bottom, .Left, .Top, .TopBotom, .LeftRight {
        height: 30px;
        border-color: black;
    }

    .Square {
        height: 30px;
        border-color: black;
    }
}


@media screen and (orientation: landscape) {
    #toolbar {
        position: fixed;
        left: 0px;
        width: 100px;
        height: 100%;
    }

    #handPlayer {
        position: fixed;
        display: flex;
        flex-direction: column;
        right: 0px;
        width: 100px;
        height: 100%;
    }

    .handPlayerChromino {
        position: fixed;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
    }
}














/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
