/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}



#gameArea {
    height: 85vm;
    width: 85vm; /* IE9 fallback */
    width: 85vmin;
    height: 85vmin;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
}

.gameLineArea {
    
    display: none;
    justify-content: center;
    flex-shrink: 0;
}

.squareOpenRight {
    border-color: black;
    
    border-right: 1px;
    border-right-style: solid;
    border-right-color: slategray;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.squareOpenBottom {
    border-color: black;
    
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: slategray;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.squareOpenLeft {
    border-color: black;
    
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-left-color: slategray;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.squareOpenTop {
    border-color: black;
    
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
<<<<<<< HEAD
    border-top-style: dotted;
    flex-shrink: 0;
=======
    border-top-style: solid;
    border-top-color: slategray;
>>>>>>> 34bf5b9fca817c41a2174d5a175ce4b41d822826
}

.squareOpenTopBotom {
    border-color: black;
    
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: slategray;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
<<<<<<< HEAD
    border-top-style: dotted;
    flex-shrink: 0;
=======
    border-top-style: solid;
    border-top-color: slategray;
>>>>>>> 34bf5b9fca817c41a2174d5a175ce4b41d822826
}

.squareOpenLeftRight {
    border-color: black;
    
    border-right: 1px;
    border-right-style: solid;
    border-right-color: slategray;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-left-color: slategray;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.squareFreeCloseNone {
    border-color: black;
    
    flex-shrink: 0;
}

.squareFreeCloseTop {
    border-color: black;
    
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.squareFreeCloseRightTop {
    border-color: black;
    
    border-right: 1px;
    border-right-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.squareFreeCloseTopBotom {
    border-color: black;
    
    border-top: 1px;
    border-top-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    flex-shrink: 0;
}

.squareFreeCloseRightBottomTop {
    border-color: black;
    
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.squareFreeCloseLeftTop {
    border-color: black;
    
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.squareFreeCloseLeftRight {
    border-color: black;
    
    border-left: 1px;
    border-left-style: solid;
    border-right: 1px;
    border-right-style: solid;
    flex-shrink: 0;
}

.squareFreeCloseBottomLeftTop {
    border-color: black;
    
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.squareFreeCloseAll {
    border-color: black;
    
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.squareFreeCloseRightLeftTop {
    border-color: black;
    
    border-right: 1px;
    border-right-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-top: 1px;
    border-top-style: solid;
    flex-shrink: 0;
}

.squareFreeCloseRight {
    border-color: black;
    
    border-right: 1px;
    border-right-style: solid;
    flex-shrink: 0;
}

.squareFreeCloseBottom {
    border-color: black;
    
    border-bottom: 1px;
    border-bottom-style: solid;
    flex-shrink: 0;
}

.squareFreeCloseRightBottom {
    border-color: black;
    
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    flex-shrink: 0;
}

.squareFreeCloseLeft {
    border-color: black;
    
    border-left: 1px;
    border-left-style: solid;
<<<<<<< HEAD
    flex-shrink: 0;
=======
>>>>>>> 34bf5b9fca817c41a2174d5a175ce4b41d822826
}

.squareFreeCloseBottomLeft {
    border-color: black;
    
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
<<<<<<< HEAD
    flex-shrink: 0;
=======
>>>>>>> 34bf5b9fca817c41a2174d5a175ce4b41d822826
}

.squareFreeCloseRightBottomLeft {
    border-color: black;
    
    border-right: 1px;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-left: 1px;
    border-left-style: solid;
    flex-shrink: 0;
}

.squareFreeCloseRightLeft {
    border-color: black;
    
    border-right: 1px;
    border-right-style: solid;
    border-left: 1px;
    border-left-style: solid;
    flex-shrink: 0;
}



@media screen and (orientation: portrait) {
    #toolbar {
        position: fixed;
        top: 0px;
        height: 100px;
        width: 100%;
    }

    #handPlayer {
        position: fixed;
        display: flex;
        flex-direction: row;
        bottom: 0px;
        height: 100px;
        width: 100%;
    }

    .handPlayerChromino {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
    }

    .squareOpenBottomLeftTop, .squareOpenRightLeftTop, .squareOpenLeftTop, .squareOpenBottomLeft, .squareOpenRightTop, .squareOpenAll, .squareOpenRight, .squareOpenBottom, .squareOpenLeft, .squareOpenTop, .squareOpenTopBotom, .squareOpenLeftRight {
        height: 30px;
        border-color: black;
    }
}


@media screen and (orientation: landscape) {
    #toolbar {
        position: fixed;
        left: 0px;
        width: 100px;
        height: 100%;
    }

    #handPlayer {
        position: fixed;
        display: flex;
        flex-direction: column;
        right: 0px;
        width: 100px;
        height: 100%;
    }

    .handPlayerChromino {
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
    }
}














/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
