@using  Data.ViewModel

@model List<PictureGameVM>

@{
    ViewData["Title"] = "Games against bots";
    int gamesNumber = Model.Count;
}

<p><a asp-controller="Games" asp-action="Index">Retour</a></p>

@if (gamesNumber > 0)
{
    <div class="icones-link">
        <a class="icone-link" href="#newgame">
            <div class="btn btn-homepage btn-humanvsbot"></div>
            <div>Nouvelle partie</div>
        </a>
    </div>
}

@switch (gamesNumber)
{
    case 0:
        <p>Vous n'avez pas de parties contre l'ordinateur en cours</p>
        break;
    case 1:
        <h3>Vous avez 1 partie contre l'ordinateur en cours</h3>
        <partial name="_ThumbnailPartial" model="Model" />
        break;
    default:
        <h3>Vous avez @gamesNumber parties contre l'ordinateur en cours</h3>
        <partial name="_ThumbnailPartial" model="Model" />
        break;
}
<br />

<h3 id="newgame">Commencer une nouvelle partie</h3>
<div class="row">
    <div class="col-md-6">
        <form asp-action="NewAgainstBots" asp-controller="Game">
            <div class="form-group">
                <label class="control-label">Selectionnez le nombre de bots (de 1 à 7)</label>
                <input id="botsNumber" name="botsNumber" class="form-control" type="number" min="1" max="7" value="1" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Commencer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<p><a asp-controller="Games" asp-action="Index">Retour</a></p>