@using  Data.ViewModel
@model List<PictureGameVM>
@{
    ViewData["Title"] = "Single games";
    int gamesNumber = Model.Count;
}

<p><a asp-area="" asp-controller="Games" asp-action="Index">Retour</a></p>

@if (gamesNumber > 0)
{
    <div class="icones-link">
        <a class="icone-link" asp-controller="Game" asp-action="NewSingle">
            <div class="btn btn-homepage img-humansingle"></div>
            <div>Nouvelle partie</div>
        </a>
    </div>
}

@switch (gamesNumber)
{
    case 0:
        <p>Vous n'avez pas de parties d'entrainement en cours</p>
        break;
    case 1:
        <h3>Vous avez 1 partie d'entrainement en cours</h3>
        <p>La partie sera supprimée au bout d'une semaine sans activité</p>
        <partial name="_ThumbnailPartial" model="Model" />
        <p><a asp-area="" asp-controller="Games" asp-action="Index">Retour</a></p>
        break;
    default:
        <h3>Vous avez @gamesNumber parties d'entrainement en cours</h3>
        <p>Les parties sont supprimées au bout d'une semaine sans activité</p>
        <partial name="_ThumbnailPartial" model="Model" />
        <p><a asp-area="" asp-controller="Games" asp-action="Index">Retour</a></p>
        break;
}
<br />