@using  Data.ViewModel;
@model List<PictureGameVM>;
@{
    ViewData["Title"] = "Games to play";
    int gamesNumber = Model.Count;
}

<div class="text-center">
    <h2>Bienvenue @ViewBag.PlayerPseudo</h2>
</div>

@switch (gamesNumber)
{
    case 0:
        <p><b>Vous n'avez aucune partie multijoueurs à jouer</b></p>
        break;
    case 1:
        <h3>Vous avez 1 partie multijoueurs à jouer</h3>
        <partial name="_ThumbnailPartial" model="Model" />
        break;
    default:
        <h3>Vous avez @gamesNumber parties multijoueurs à jouer</h3>
        <partial name="_ThumbnailPartial" model="Model" />
        break;
}
<br />
<p>
    <a asp-controller="Game" asp-action="New"><input type="button" class="btn btn-primary" value="Nouvelle partie" /></a>
</p>
<p>
    Voir vos <a asp-controller="Games" asp-action="AgainstBots">parties contre l'ordinateur</a>
</p>
<p>
    Voir vos <a asp-controller="Games" asp-action="Single">parties solo en cours</a>
</p>
<p>
    Voir vos <a asp-controller="Games" asp-action="Won">parties gagnées</a>
</p>
<p>
    Voir vos <a asp-controller="Games" asp-action="Lost">parties perdues</a>
</p>
<p>
    Voir vos <a asp-controller="Games" asp-action="SingleFinished">parties solo terminées</a>
</p>
<p>
    Voir vos <a asp-controller="Games" asp-action="InProgress">parties en attente (tour d'un adversaire)</a>
</p>
