@using  Data.ViewModel;
@model List<PictureGameVM>;
@{
    ViewData["Title"] = "Games won";
    int gamesNumber = Model.Count;
}

@switch (gamesNumber)
{
    case 0:
        <p><b>Vous n'avez aucune partie gagnée</b></p>
        break;
    case 1:
        <h3>Vous avez 1 partie gagnée</h3>
        <partial name="_ThumbnailPartial" model="Model" />
        break;
    default:
        <h3>Vous avez @gamesNumber parties gagnées</h3>
        <partial name="_ThumbnailPartial" model="Model" />
        break;
}
<br />
<p>
    <a asp-controller="Game" asp-action="New"><input type="button" class="btn btn-primary" value="Nouvelle partie" /></a>
</p>
<p>
    Voir vos <a asp-controller="Games" asp-action="Single">parties solo en cours</a>
</p>
<p>
    Voir vos <a asp-controller="Games" asp-action="Lost">parties perdues</a>
</p>
<p>
    Voir vos <a asp-controller="Games" asp-action="SingleFinished">parties solo terminées</a>
</p>
<p>
    Voir vos <a asp-controller="Games" asp-action="InProgress">parties en attente (tour d'un adversaire)</a>
</p>
<p>
    <a asp-controller="Games" asp-action="ToPlay">Retour</a>
</p>