@using  Data.ViewModel
@model List<PictureGameVM>
@{
    ViewData["Title"] = "Games lost";
    int gamesNumber = Model.Count;
}
<p><a asp-controller="Statistics" asp-action="Index">Retour</a></p>

@switch (gamesNumber)
{
    case 0:
        <p><b>Vous n'avez aucune partie perdues</b></p>
        break;
    case 1:
        <h3>Vous avez 1 partie perdue</h3>
        <partial name="_ThumbnailPartial" model="Model" />
        break;
    default:
        <h3>Vous avez @gamesNumber parties perdues</h3>
        <partial name="_ThumbnailPartial" model="Model" />
        break;
}
<br />
<p><a asp-controller="Games" asp-action="Index">Retour</a></p>