@model Data.Models.Player

@{
    ViewData["Title"] = "Login";
}

<h1>Chromino</h1>

<h4>Merci de vous identifier ou continuer comme invité pour jouer</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="LoginGuest">
            <div class="form-group">
                <input type="submit" value="Continuer comme invité" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.error != null)
{
    <p class="error">@ViewBag.error</p>
}



