@using  Data.ViewModel
@model List<PictureGameVM>
@{
    ViewData["Title"] = "Games with unread messages";
    int gamesNumber = Model.Count;
}

<p><a asp-area="" asp-controller="Games" asp-action="Index">Retour</a></p>

@switch (gamesNumber)
{
    case 0:
        <p>Vous n'avez pas de parties avec messages non lus</p>
        break;
    case 1:
        <h3>Vous avez 1 partie avec messages non lus</h3>
        <partial name="_ThumbnailPartial" model="Model" />
        break;
    default:
        <h3>Vous avez @gamesNumber parties avec messages non lus</h3>
        <partial name="_ThumbnailPartial" model="Model" />
        break;
}
<br />
<p>
    <a asp-area="" asp-controller="Games" asp-action="Index">Retour</a>
</p>