
@{
    ViewData["Title"] = "Index";
}

<h1>Salon social</h1>

<h3>Messages privés non lus</h3>
<div id="UnreadPrivatesMessages">

</div>


<h3>Vos amis</h3>
<div id="Friends">

</div>


<h3>Parties avec messages non lus</h3>
<div id="GamesWithUnreadMessages">

</div>