@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Vérifiez vos emails";
}

<h1>@ViewData["Title"]</h1>
<p>
    Fonctionnalité non développée pour l'instant. Merci de contacer un administrateur du site.
</p>

