<div id="PopupChat" class="popup popup-memochat" style="display:none">
    <div class="div-head img-chat" title="chat"></div>
    <div>
        <textarea id="ChatPopupContent" class="form-control" rows="10" disabled></textarea>
        <div class="form-group">
            <input id="ChatInput" name="chat" class="form-control" placeholder="Ajouter un message (pour tous)" required />
            <div class="emojis">
                <span class="emoji">🖐️</span><span class="emoji">👍</span><span class="emoji">👎</span><span class="emoji">😀</span><span class="emoji">😇</span><span class="emoji">😎</span><span class="emoji">😁</span><span class="emoji">😜</span><span class="emoji">😂</span>
            </div>
            <div class="emojis">
                <span class="emoji">😉</span><span class="emoji">😘</span><span class="emoji">😍</span><span class="emoji">😕</span><span class="emoji">😡</span><span class="emoji">😱</span><span class="emoji">😤</span><span class="emoji">😢</span><span class="emoji">😭</span>
            </div>
            <button id="ChatAdd" class="btn btn-primary">Envoyer</button>
        </div>
    </div>
</div>