@using  Data.ViewModel
@model List<PictureGameVM>

<div class="thumbnails">
    @foreach (var game in Model)
    {
        <a asp-controller="Game" asp-action="Show" asp-route-id="@game.GameId">
            <div class="thumbnail">
                <div class="header">
                    <p>Jeu n° @game.GameId</p>
                    <p>joué le @game.PlayedDate.ToString("dd/MM/yyyy à HH:mm:ss")</p>
                </div>
                <img src="~/image/game/@game.FullName" alt="vignette" />
                <div class="description">
                    @foreach (var pseudo_chromino in game.Pseudos_chrominos)
                    {
                        string pseudo = pseudo_chromino.Key;
                        if (pseudo == game.PlayerPseudo)
                            pseudo = "Vous";
                        <p>@pseudo : @pseudo_chromino.Value chrominos en main</p>
                    }
                </div>
            </div>
        </a>
    }
</div>
<br />