@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erreur</h1>
<h2 class="text-danger">Une erreur s'est produite lors du traitement de votre demande</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>Merci de revenir à l'accueil et de réessayer</p>
