@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<p><a asp-controller="Games" asp-action="Home">Retour</a></p>
<h1>Votre compte</h1>
<div>
    <h4>Changez vos paramètres personnels</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
