<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chromino</title>
    <partial name="_IncludeCss" />
</head>
<body>
    <partial name="_NoScript" />
    <partial name="_IncludeJs" />
    @RenderSection("ScriptJs", required: true)
    <div id="ContainerGame" class="container">
        @RenderBody()
    </div>
    <partial name="_PopupsPartial" />
    <partial name="_PrivateMessagePartial" />
</body>
</html>
