<div id="PopupError" class="popup" style="display:none">
    <div class="div-head div-error" title="erreur"></div>
    <p id="ErrorText"></p>
    <div class="illustrations">
        <div id="ErrorIllustration" title="illustration"></div>
    </div>
    <p id="ErrorIllustrationCaption" title="légende"></p>
</div>
<div id="PopupMemo" class="popup popup-memochat" style="display:none">
    <div class="div-head img-memo" title="mémo"></div>
    <textarea id="MemoContent" name="memo" class="form-control" rows="15" placeholder="Mémo (visible seulement par vous)"></textarea>
    <div class="form-group">
        <button id="MemoAdd" class="btn btn-primary">Enregistrer</button>
    </div>
</div>
<div id="PopupChat" penpalid="" class="popup popup-memochat" style="display:none">
    <ul>
        <li><a id="ChatTab" run="SwitchToChat" class="selected" href="#">Partie</a></li>
        <li><a id="PrivateMessageTab" run="SwitchToPrivateMessage" href="#">Contacts</a></li>
    </ul>
    <div id="ChatDiv">
        <div class="div-head img-chat" title="chat"></div>
        <div>
            <div id="ChatPopupContent"></div>
            <div class="form-group">
                <input id="ChatInput" name="chat" class="form-control" placeholder="Ajouter un message (pour tous)" required />
                <div class="emojis">
                    <span class="emoji emoji-chat">🖐️</span><span class="emoji emoji-chat">👍</span><span class="emoji emoji-chat">👎</span><span class="emoji emoji-chat">😀</span><span class="emoji emoji-chat">😇</span><span class="emoji emoji-chat">😎</span><span class="emoji emoji-chat">😁</span><span class="emoji emoji-chat">😜</span><span class="emoji emoji-chat">😂</span>
                </div>
                <div class="emojis">
                    <span class="emoji emoji-chat">😉</span><span class="emoji emoji-chat">😘</span><span class="emoji emoji-chat">😍</span><span class="emoji emoji-chat">😕</span><span class="emoji emoji-chat">😡</span><span class="emoji emoji-chat">😱</span><span class="emoji emoji-chat">😤</span><span class="emoji emoji-chat">😢</span><span class="emoji emoji-chat">😭</span>
                </div>
                <button id="ChatAdd" class="btn btn-primary">Envoyer</button>
            </div>
        </div>
    </div>
    <div id="PrivateMessageDiv" style="display:none">
        <div id="PenpalInfos"><span id="PrivateMessagePenpalName"></span><span id="PrivateMessagePenpalStatus"></span></div>
        <div class="div-head img-chat" title="private message"></div>
        <div id="PenpalsList"></div>
        <div id="PrivateMessagePopupContent" style="display:none"></div>
        <div class="form-group">
            <input id="PrivateMessageInput" name="chat" class="form-control" placeholder="Ajouter un message" required />
            <div class="emojis">
                <span class="emoji emoji-privatemessage">🖐️</span><span class="emoji emoji-privatemessage">👍</span><span class="emoji emoji-privatemessage">👎</span><span class="emoji emoji-privatemessage">😀</span><span class="emoji emoji-privatemessage">😇</span><span class="emoji emoji-privatemessage">😎</span><span class="emoji emoji-privatemessage">😁</span><span class="emoji emoji-privatemessage">😜</span><span class="emoji emoji-privatemessage">😂</span>
            </div>
            <div class="emojis">
                <span class="emoji emoji-privatemessage">😉</span><span class="emoji emoji-privatemessage">😘</span><span class="emoji emoji-privatemessage">😍</span><span class="emoji emoji-privatemessage">😕</span><span class="emoji emoji-privatemessage">😡</span><span class="emoji emoji-privatemessage">😱</span><span class="emoji emoji-privatemessage">😤</span><span class="emoji emoji-privatemessage">😢</span><span class="emoji emoji-privatemessage">😭</span>
            </div>
            <button id="PrivateMessageAdd" class="btn btn-primary" recipientId="">Envoyer</button>
        </div>
    </div>
</div>
<div id="TipPopup" class="popup" style="display:none">
    <div id="TipHeadPicture" class="div-head" title="didacticiel"></div>
    <div id="TipHtml"></div>
    <div class="illustrations">
        <div id="TipIllustration" title="illustration"></div>
    </div>
    <input id="TipDontShowAgain" type="checkbox" /> Ne plus afficher cette fenêtre
    <div><input name="dontShowAllTips" type="checkbox" /> Ne plus afficher aucune fenêtre du didacticiel</div>
    <button id="TipClose" class="btn btn-primary btn-tip">C'est noté !</button>
</div>

