@{
    ViewData["Title"] = "Créer une nouvelle partie contre l'ordinateur";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="NewAgainstBots">
            <div class="form-group">
                <label class="control-label">Selectionnez le nombre de bots (de 1 à 7)</label>
                <input id="botsNumber" name="botsNumber" class="form-control" type="number" min="1" max="7" value="1" required />
            </div>
            
            <div class="form-group">
                <input type="submit" value="Créer la partie" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
